<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="overlay">

<div class="text-box">
<h2>Career Insights Dashboard</h2>
</div>

<div class="dashboard-container">
<iframe 
src="https://public.tableau.com/views/SurvayStoryPoint/Story1?:showVizHome=no&:embed=true">
</iframe>
</div>

<div style="text-align:center;">
<a href="/"><button>Home</button></a>
</div>

</div>

</body>
</html>